[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chaostoolkit = "*"
chaostoolkit-kubernetes = "*"
chaostoolkit-istio = "*"

[dev-packages]

[requires]
python_version = "3.9"
